HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/mainbuild/
!**/src/testbuild/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/mainbin/
!**/src/testbin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/mainout/
!**/src/testout/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
